<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-solid">
				<div class="box-header">         
					<h3 class="box-title">
						<span class="fa fa-user"></span>
						<span>Call History</span>
					</h3>
					<div class="box-tools">
					  <button class="btn btn-success btn-create" ui-sref="call-history.new">
			              <span class="glyphicon glyphicon-plus"></span> <span>Create new Call History</span>
			           </button>
					</div>					
				</div>
				<div class="box-body">
				<jhi-alert></jhi-alert>
				<!-- 	<div class="row">												
						<div class="col-md-2 pull-right">
							<div class="input-group input-group-sm">
							<input  type="text" ng-model="vm.search" class="form-control input-sm ng-pristine ng-valid ng-empty ng-touched" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9_]{3,}$/" placeholder="{{'search'}}" aria-invalid="false" ng-change="vm.filterSearch()" >
								<span class="input-group-btn">
								  <button type="button" class="btn btn-info btn-flat">
									<i class="fa fa-search"></i></button>
								</span>
							</div>	
						</div> 
					</div> --> 
					<div class="table-responsive mt-10">					
						 <table class="jh-table table table-bordered">
							<thead class="bg-default">
								 <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
									<!-- <th jh-sort-by="id"><span>ID</span> <span 
										class="glyphicon glyphicon-sort"></span></th>-->
									<th jh-sort-by="callType"><span>Call Type</span> <span
										class="glyphicon glyphicon-sort"></span></th>
									<th jh-sort-by="callStatus"><span>Call Status</span> <span
										class="glyphicon glyphicon-sort"></span></th>
									<th jh-sort-by="callDuration"><span>Call Duration</span> <span
										class="glyphicon glyphicon-sort"></span></th>
									<th jh-sort-by="callerLogin"><span>Caller</span> <span
										class="glyphicon glyphicon-sort"></span></th>
									<th jh-sort-by="calleeLogin"><span>Callee</span> <span
										class="glyphicon glyphicon-sort"></span></th>
									<th>Actions</th>
								</tr>
					            </thead>
					            <tbody>
					          <!--   <tr ng-repeat="callHistory in vm.callHistory  | filter :search track by tenant.id"> -->
					            <tr ng-repeat="callHistory in vm.callHistories track by callHistory.id">
									<!-- <td><a ui-sref="call-history-detail({id:callHistory.id})">{{callHistory.id}}</a></td> -->
									<td>{{callHistory.callType}}</td>
									<td>{{callHistory.callStatus}}</td>
									<td>{{callHistory.callDuration}}</td>
									<td>{{callHistory.callerLogin}}</td>
									<td>{{callHistory.calleeLogin}}</td>
									<td>
					                    <div class="actions">
					                        <a ui-sref="call-history-detail({id:callHistory.id})" class="action-icons text-info" title="View">
					                            <span class="fa fa-eye"></span>
					                        </a>
					                        <a ui-sref="call-history.edit({id:callHistory.id})"
					                                class="actions-icons text-primary" title="Edit">
					                            <span class="fa fa-pencil-square"></span>
					                        </a>
					                       <!--  <a  ui-sref="call-history.delete({id:callHistory.id})"
					                                class="action-icons text-danger">
					                            <span class="fa fa-times-circle"></span>
					                        </a>  -->
					                    </div>
					                </td>
					            </tr>
							</tbody>
						</table> 											
					</div>	
					<div class="row">
						<div class="col-md-4">
							<div class="count-length">
								<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
							</div>
						</div>
						<div class="col-md-8">
							<div class="pagination-list pull-right">
								<uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>						
							</div>					
						</div>					
					</div>						
				</div>           
			</div>		
		</div>	
	</div>
</div>

<!-- <div>
    <h2>Call Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="call-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Call History
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="callType"><span>Call Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="callStatus"><span>Call Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="callDuration"><span>Call Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="callerLogin"><span>Caller</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="calleeLogin"><span>Callee</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="callHistory in vm.callHistories track by callHistory.id">
                    <td><a ui-sref="call-history-detail({id:callHistory.id})">{{callHistory.id}}</a></td>
                    <td>{{callHistory.callType}}</td>
                    <td>{{callHistory.callStatus}}</td>
                    <td>{{callHistory.callDuration}}</td>
                    <td>
                        {{callHistory.callerLogin}}
                    </td>
                    <td>
                        {{callHistory.calleeLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="call-history-detail({id:callHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="call-history.edit({id:callHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="call-history.delete({id:callHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
 -->